// MAIN COLORS
$primary: #3F95CC;
$primary-darken: #1B587F;
$secondary: #CC3B3B;
$secondary-darken: #7F2726;
$tertiary: #0A7DC5;
$font-dark-bg: #fff;

// COLORS
// $body-bg:                   $white !default;
// $body-color:                $gray-900 !default;

// TITLE COLORS
$title-primary: #793700;
$title-secondary: #945826;

// FONTS
$font-family-sans-serif: 'Open Sans', sans-serif;
$heading-font-family: 'Roboto', sans-serif;

// LINKS 
// $link-color:                theme-color("primary") !default;
// $link-decoration:           none !default;
// $link-hover-color:          darken($link-color, 15%) !default;
// $link-hover-decoration:     underline !default;

// GRID SETTINGS
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px
// ) !default;