<div class="line-chart__wrapper is-card">
  <h2 class="text-center">Forecasted Highs and Lows</h2>
  <div class="btn-group" style="display:flex;justify-content:center" role="group" aria-label="Pick chart or table visual display">
      <button class="btn btn-outline-primary active" (click)="displayChart()">Chart</button>
      <button class="btn btn-outline-secondary" (click)="displayTable()">Table</button>
  </div>
  <svg class="line-chart line-chart--daily">
    <defs>
      <linearGradient id="gradient1" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="rgba(255, 86, 29, 0.5)" />
        <stop offset="100%" stop-color="rgba(8, 97, 156, 0.5)" />
      </linearGradient>
    </defs>
  </svg>
</div>