<div class="row">
    <div class="col-12 col-sm-9 col-md-10 offset-lg-2 col-lg-6">
        <label for="location" class="sr-only sr-only-focusable">Location</label>
        <input #location (click)="searchLocation(location.value)" type="text" name="location" id="location-search" placeholder="Enter your Location">
    </div>
    
    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
        <button id="search-button" type="button" class="btn btn-primary btn-block"[disabled]="!location.value">Search</button>
    </div>
</div>

