.temp {
    width: 100%;
    height: 100%;

    &__display {
        width: 100%;
        height: 100%;
        padding-left: 15px;
        text-align: left;
    }

    &__title {
        margin-bottom: 0;
        font-size: 2.5rem;
        font-weight: 900;
    }

    &__subtitle {
        font-size: 1.25rem;
        font-weight: 400;
        display: inline block;
    }

    &__extreme {
        padding: 0 2px;
        &--high {
            background-color: rgba(255, 86, 29, 0.6);
            margin-left: 5px;
        }
        &--low {
            background-color: rgba(8, 97, 156, 0.6);
            margin-right: 5px;
        }
    }
}

.ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
}

.ul>.li {
    padding: 10px;
    width: 100%;

    &:nth-child(even) {
        background-color: lighten(rgba(176, 11, 19, 0.1), 10);
    }

    &:nth-child(odd) {
        background-color: rgba(98, 171, 219, 0.1);
    }
}

.sky-canvas {
display: block;
float: left;
margin: 0;
}
