.sky-canvas {
    float: right;
}

@media screen and (min-width: 576px) {
    .main {
        padding-top: 1.5rem;
    }
}

.temp {
    width: 100%;
    height: 100%;

    &__wrapper {
        display: block;
        height: 100%;
        width: 100%;
    }

    &__display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding-left: 15px;
        text-align: left;
    }

    &__title {
        margin-bottom: 0;
        font-size: 2.5rem;
        font-weight: 900;
    }

    &__subtitle {
        font-size: 1.25rem;
        font-weight: 400;
        display: inline block;
    }

    &__extreme {
        padding: 0 3px;
        // color: #fff;
        &--high {
            color: rgb(255, 242, 238);
            background-color: rgba(255, 86, 29, 0.7);
            margin-left: 5px;
        }
        &--low {
            color: rgb(223, 243, 255);
            background-color: rgba(8, 97, 156, 0.7);
            margin-right: 5px;
        }
    }

    &__list {
        margin-top: 0;
        padding:0;
        height: 100%;
    }
}

.ul {
    background-color: rgba(98, 171, 219, 0.1);
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}

.ul>.li {
    padding: 10px;
    width: 100%;

    &:nth-child(even) {
        background-color: #fce6e7;
        // lighten(rgba(176, 11, 19, 0.1), 10);
    }

    &:nth-child(odd) {
        background-color: #eff7fc;
        // rgba(98, 171, 219, 0.1);
    }
}

.complete {
    text-decoration: line-through;
}
