.nav {
    background-color: aqua;
    min-height: 75px;
    width: 100vw;
}

.menu {
    background-color: azure;
}

.hamburger-menu:hover {
    cursor: pointer;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}