@import "../../styles";

.nav {   
    padding: 10px 0;

    &__title {
        font-size: 2rem;
        margin-bottom: 0;
    }

    &__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem;
    }

    &__menu-icon {
        background-repeat: no-repeat;
        height: 32px;
        width: 32px;

        &:hover {
            cursor: pointer;
        }
    }

    &__menu-icon-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: .25rem 0; 
    }
}

@media screen and (min-width: 540px) {
    .nav__logo {
        display: inline-block;
        text-align: center;
    }
}


.menu {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    background-color: rgba(145, 199, 234, 0.1);
    z-index: 1;
    padding-left: 0;

    &__list {
        padding: 20px;
    }

    &__list-link:hover, &__list-link:focus {
        text-decoration: none;
    }

    &__list-item:hover, &__list-item:focus {
        background-color: rgba(255, 178, 152, 0.308);
    }
}

.hamburger-menu:hover {
    cursor: pointer;
}