
<div class="container-fluid gradient">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 is-card welcome__wrapper">
                <div class="welcome"> 
                        <h1 class="welcome__title">Welcome To NGWEATHER!</h1>
                        <p class="welcome__text">To get started, enter a city, state or zip code in the search bar below.</p>
                    
              
                    <div class="row">
                        <div class="col-12">
                          <app-location-search></app-location-search>
                        </div>
                    </div>
                </div>
          </div>
      </div>
      
  </div>
</div>


