// OVERRIDE DEFAULT VARIABLES
@import "./assets/scss/variable-settings";

// IMPORT GRID
@import "./assets/scss/bootstrap-grid-reboot";

@import "./assets/scss/line-chart";

.is-card {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),
                0 3px 3px -2px rgba(0,0,0,.12);
    border-radius: 2px;
    padding: 20px;

    &:first-child {
        margin-top: 0;
    }

    &--no-padding {
        padding:0;
    }

    &--top {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    &--bottom {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

ul {
    margin-bottom: 0;
}